@import '../styles/vars.scss';

html {
	font-size: 10px;
	font-size: calc(10vw / 5);
	scroll-behavior: smooth;

	@media (min-width: 768px) {
		font-size: calc(10vw / 8);
	}
	@media (min-width: 1000px) {
		font-size: calc(10vw / 10);
	}
	@media (min-width: 1180px) {
		font-size: calc(10vw / 12.8);
	}
}

body {
	background-color: $mainBackgroundColor;
	font-family: $mainFont;
	font-weight: $mainFontWeight;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
	font-size: 1.4rem;

	&.lock {
		overflow-y: hidden;
	}
}
button {
	border: none;
}
a {
	text-decoration: none;
	color: $mainFontColor;
}
p {
	margin: 0;
}
ul,
li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.container {
	position: relative;
	flex: 0 0 auto;
	margin: 0 auto;
	width: 100%;
	max-width: $lgDesktopWidth;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0 auto;
	@media screen and (max-width: 768px) {
		margin-bottom: 9rem;
	}
}

.wrapper-content {
	display: flex;
	flex: 1 0 auto;
	margin-top: 10rem; // if header is fixed do mt: headerHeight
}
