// Font
$mainFont: 'Lato', sans-serif;

// Size
$mainFontColor: #fff;
$mainFontWeight: 400;
$mainBackgroundColor: #27272e;

$lgDesktopWidth: 124rem;

// Main color
$default-color: #ffffff;
$secondary-color: #ca8647;
$light-yellow-color: #f9d949;

//border-radius
$mainBorderRadius: 0.2rem;
$fullRadius: 100%;
