// Font
$mainFont: 'Charis SIL', serif;

// Size
$mainFontColor: #fff;
$mainFontWeight: 700;
$mainBackgroundColor: #09080d;

$lgDesktopWidth: 1240px;
$desktopWidth: 128rem;
$smDesktopWidth: 102.4rem;
$tableWidth: 76.8rem;
$smTableWidth: 64rem;
$phoneWidth: 48rem;
$smPhoneWidth: 32rem;

// Main color
// $default-color: #ffffff;
// $secondary-color: #8f99ba;
// $green-color: #17a300;
// $red-color: #eb5757;
// $vip-color: #faba17;
// $gray-color: #7a7a7a;
// $purple-color: #9b51e0;

//border-radius
$mainBorderRadius: 0.2rem;
$fullRadius: 100%;
