.modal {
    width: 100vw;
    height: 100vh;
    background-color: #27272eb6;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
}
.card {
    max-width: 41rem;
    background-color: #09080d;
    position: relative;
		padding: 1.2rem;
		display: flex;
		flex-direction: column;
		gap: 1.4rem;
}
.big-text {
    font-size: 1.8rem;
}
.small-text {
    font-size: 1.2rem;
}
.q-card__section--vert {
	padding: 0;
}
.modal__payment-result {
    display: flex;
    gap: 10px;
    align-items: center;
}
.q-btn {
    font-weight: bold;
    font-size: 1.8rem;
    width: 100%;
    border-radius: 7px;
}
.q-checkbox {
    width: 60%;
}
.img {
    position: absolute;
    right: 5%;
    top: 3%;
    cursor: pointer;
    z-index: 10;
    width: 17px;
    height: 17px;
}
